@import (inline) url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

@card-shadow: inset 1px 2px 2px rgba(0,0,0,0.15);
@card-border: 1px solid transparent;
@card-border-radius: 20px;
@font-family: 'Open Sans', sans-serif;
@font-weight-light: 300;
@font-weight-normal: 400;

.zoom(@scale) {
	zoom: @scale;
	-moz-transform: scale(@scale);
	-moz-transform-origin: 0 0;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
}

.icon {
	display: inline-block; 
}

.jumbotron {
	padding-bottom: 34px;
	margin-bottom: 15px;
	
	.container {
		h1 {
			margin-bottom: 38px;
			font-family: @font-family;
			font-weight: @font-weight-light;
			
			.label {
				padding: 5px 20px;
			}
		}
		
		.search-group {
			position: relative;
			
			input.search {
				font-size: 22pt;
				height: 50px;
			}
			
			.label {
				position: absolute;
				right: 12px;
				top: 12px;
				font-size: 13pt;
				opacity: 0.25;
			}
		}
	}
}
	
.creatures {
	margin-top: 16px;
	
	.creature {
		.card {
			margin-bottom: 20px;
							
			.card-top {
				height: 65px;
				background: #101010;
				border-left: @card-border;
				border-top: @card-border;
				border-right: @card-border;
				border-top-left-radius: @card-border-radius;
				border-top-right-radius: @card-border-radius;
				
				.card-avatar {
					width: 100%;
					height: 100%;
					position: relative;
					
					.icon {
						position: absolute;
						right: -5px;
						top: -5px;
					}
					
					.card-header {						
						font-size: 26px;
						font-family: @font-family;
						font-weight: @font-weight-light;
						margin-top: 3px;
						margin-left: 3px;
						position: absolute;
						bottom: 8px;
					}
				}
			}
			
			.card-bottom {
				height: 115px;
				position: relative;
				padding-top: 18px;
				background-color: #303030;
				border-left: @card-border;
				border-right: @card-border;
				border-bottom: @card-border;
				border-bottom-left-radius: @card-border-radius;
				border-bottom-right-radius: @card-border-radius;
				-webkit-box-shadow: @card-shadow;
				box-shadow: @card-shadow;
				
				.card-header {
					font-size: 16px;
					font-family: @font-family;
					font-weight: @font-weight-light;
				}
								
				.card-labels {
					position: absolute;
					top: 4px;
					right: 0px;
					
					.label {
						font-size: 14px;
						font-family: @font-family;
						font-weight: @font-weight-normal;
						padding: 2px 6px;
					}
				}
				
				ul.card-weaknesses {
					list-style-type: none;
					margin: 0;
					padding: 0;
					
					li {
						display: inline;
						margin: 0;
						padding: 0;
						
						.card-icon {
							display: inline-block;
							
							.icon {
								.zoom(0.6);
								
								@media (min-width: 992px) {
									.zoom(0.70);
								}
								
								@media (min-width: 1200px) {
									.zoom(0.80);
								}
							}
						}
					}
				}
			}
		}
	}
}

.attributions {
	color: lighten(#303030, 30%);
	
	h1 {
		font-family: @font-family;
		font-weight: @font-weight-light;
		font-size: 20px;
	}
}

.source-code-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	
	path {
		fill: lighten(#336699, 10%);
	}
	
	&:hover {
		path {
			fill: lighten(#336699, 30%);
		}
	}
}

.version {
	position: absolute;
	top: 16px;
	right: 48px;
	
	font-family: @font-family;
	font-weight: @font-weight-light;
	font-size: 11px;
	
	color: lighten(#336699, 10%);
}