<!DOCTYPE html>
<html lang="en" data-ng-app="w3module">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Witcher 3 Bestiary quick lookup">
    <meta name="author" content="Michael Dahl (micdah@gmail.com)">
    
    <title>Witcher 3 Bestiary</title>
    
    <link href="css/all.min.css" rel="stylesheet">
    <script src="js/lib.min.js"></script>
  </head>

  <body data-ng-controller="BestiaryController as ctrl">
    <div class="source-code"></div>
    <div class="version" data-ng-cloak>{{ctrl.version}}</div>
    
    <a href="https://bitbucket.org/micdah/witcher3-bestiary" target="_blank" alt="Source code at bitbucket.org">
      <svg 
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" version="1.1" 
        viewBox="0 0 100 100" x="0px" y="0px" class="source-code-icon" width="32" height="32">
        <path style="baseline-shift:baseline;block-progression:tb;color:#000000;direction:ltr;text-indent:0;enable-background:accumulate;text-transform:none;" fill="#000" d="M27.5,4.9688c-7.132,0-12.969,5.9302-12.969,13.062,0,5.736,3.777,10.611,8.969,12.313v39.281c-5.192,1.716-8.969,6.67-8.969,12.406,0,7.133,5.837,12.969,12.969,12.969s13-5.836,13-12.969c0-5.736-3.808-10.69-9-12.406v-0.625c0-5.929,1.815-8.24,5.156-10.344,3.341-2.103,8.602-3.393,14.282-4.781,5.679-1.388,11.839-2.905,16.937-6.719,4.632-3.465,7.961-9.08,8.531-16.781,5.24-1.673,9.094-6.573,9.094-12.344,0-7.132-5.868-13.062-13-13.062s-12.969,5.9302-12.969,13.062c0,5.701,3.732,10.551,8.875,12.281-0.422,5.483-2.394,8.262-5.344,10.469-3.339,2.499-8.429,3.982-14,5.344-5.57,1.362-11.559,2.572-16.656,5.781-0.306,0.193-0.61,0.382-0.906,0.594v-22.156c5.192-1.702,9-6.577,9-12.313,0-7.132-5.868-13.062-13-13.062zm0,8.0312c2.809,0,5.031,2.222,5.031,5.031s-2.222,4.938-5.031,4.938-5-2.129-5-4.938,2.191-5.031,5-5.031zm45,0c2.809,0,5.031,2.222,5.031,5.031s-2.222,4.938-5.031,4.938-5-2.129-5-4.938,2.191-5.031,5-5.031zm-45,64c2.809,0,5.031,2.222,5.031,5.031s-2.222,4.938-5.031,4.938-5-2.129-5-4.938,2.191-5.031,5-5.031z"/>
      </svg>
    </a>
    
    <div class="jumbotron">
      <div class="container">
        <h1>
          Witcher 3 <span class="label label-info">Bestiary</span>
        </h1>
        
        <div class="search-group">
          <input class="form-control search" type="text" data-ng-model="search.name" placeholder="Search for a beast..." data-ng-keyup="onSearchKeyUp($event)" autofocus/>
          <span class="label label-primary ng-hide" data-ng-show="showClearSearchLabel">Press escape to clear</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row creatures">
        <div data-ng-repeat="creature in ctrl.creatures | filter:search:strict | orderBy:'name'" class="col-md-4 creature" data-on-finish-render="ngRepeatFinished" data-ng-cloak>
          <div class="card">
            <div class="card-top">
            <div class="card-avatar">
                <div class="icon {{creature.image}}"></div>
                <div class="col-md-12 card-header">
                  {{creature.name}}
                </div>
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-labels">
                <span class="label label-danger" data-ng-show="creature.isBoss">boss</span>
                <span class="label label-primary">{{creature.creatureClass | CreatureClassDisplay}}</span>
              </div>
              <div class="col-md-12">
                <div class="card-header">Weaknesses</div>
                <ul class="card-weaknesses">
                  <li data-ng-repeat="weakness in creature.weaknesses">
                      <div class="card-icon" 
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="{{weakness.name}}">
                        <div class="icon {{weakness.image}}"></div>
                      </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row attributions">
        <div class="col-md-12">
          <h1>Attributions</h1>
          <ul>
            <li>Branch by Richard Slater from the Noun Project</li>
          </ul>
        </div>
      </div>
    </div>	
  <script src="js/app.min.js"></script>
  </body>
</html>
